body{
    background-color: hsl(216, 12%, 8%);
    padding:0;
    margin: 0;
      font-family: "Montserrat", sans-serif;
}

.rating{
  
    margin: 0;
     background-color: hsl(214, 20%, 23%);
    
    border-radius:50% ;
    padding:0.2em;
  aspect-ratio: 1/1;
  border: none;
    color:white;
    transition: 250ms;
}
:hover.rating,:hover.submit{
    background-color: white;
    color:black;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
   column-gap: 10%;
}


.submit{
      background-color:rgb(252,118,19);
     border:  none;
         height:20%;
    border-radius: 15px;
     margin: 0;
    padding:0.4em;
    transition: 250ms;
}

.main-cont{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    height:75%;
    width:20%;
   
    margin: auto;
    padding: 3%;
border-radius: 0.5em;
    background-color: hsl(213, 19%, 18%);
margin-top: 10%;
}


.state{
    
 display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    height:75%;
    width:20%;
   justify-content: center;
   align-items: center;
    margin: auto;
    padding: 3%;
border-radius: 0.5em;
    background-color: hsl(213, 19%, 18%);
margin-top: 10%;

}

.how{
    padding:0;
    margin: 0;
    margin-bottom: -0.2em;
    color:white;

}

.text{
padding:0;
    margin: 0;
    color:hsl(217, 12%, 63%);
    font-weight: 300;
    font-size: 1em;
    line-height: 1.1em;
}

.star{
    background-color: hsl(214, 20%, 23%);
    color:rgb(252,118,19);
    border-radius:50% ;
    padding:0.2em;
   
   
    font-size: 0.35em;
    aspect-ratio: 1/1;
    width:0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.orange{
    
    background-color:rgb(252,118,19);
}

.centralize{
text-align: center;
}

.rateeeee{
    color:rgb(252,118,19);
    padding:0.2em;
    margin: auto;
    border: none;
    font-size: 0.2em;
    border-radius: 15px;
    background-color: hsl(214, 20%, 23%);
}


.hidden{
    display: none;
}

@media screen and (max-width:50em) {
    .main-cont, .state{
        width: 75%;

    }


}


@media (prefers-reduced-motion: reduce) {
    .submit,.rating{
        transition:100s;
    }
}
